<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>FODA</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</head>

<div>
    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">Step 1: Choose Template</div>
        </div>
        <div class="clearfix">
        </div>
    </div>
<br/>

  <div class="col-lg-12 col-lg-offset-1"  >
      <div class="col-lg-6">
          <div class="member-team">
              <h3  style="text-align:center">KAdmin</h3>
          		<img id="a" style="height:278px;width:445px" src="/assets/kadmin.jpg" class="img-responsive"/>
              <div class="text-center pal">
                    <a href="http://foda-kadmin.thebucketdev.com/form_build" id="Demo3" class="btn btn-fill btn-info" data-button="info">Next</a>
              </div>
          </div>
      </div>

      <div class="col-lg-6">
          <div class="member-team">
              <h3  style="text-align:center">Lumino</h3>
              	<img id="a" style="height:278px;width:445px" src="/assets/lumino.jpg" class="img-responsive"/>
              <div class="text-center pal">
                    <a href="http://foda-lumino.thebucketdev.com/form_build" id="Demo3" class="btn btn-fill btn-info" data-button="info">Next</a>
              </div>
          </div>
      </div>
  </div>


</div>

<script src="/assets/bootstrap.min.js"></script>
<script src="/assets/bootstrap-hover-dropdown.js"></script>

</body>
</html>